
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome Notification</h5>
                <input type="button" class="close" data-dismiss="modal" value=&times; >
            </div>
            <div class="modal-body">
				<p>Hi and welcome to Blessing's Tech Stack Portfolio. I would like to wish you a happy viewing. Please feel free to use the contact form to leave a message as your feedback is very important! </p>
                <img src="{{asset('uploads/'~imageNameCaption)}}" alt="img!" id='topImg'/>
                
                <hr>
                    <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Close" >
                <hr>
            </div>
        </div>
    </div>
</div>
