#prjtQ {
    margin-top: -6%;
    margin-left: 8%;
}

.abt label {
    text-align: center;
    margin: 1%;
    font-size: 80%;
}

#about_ImageName {
    margin: 2%;
}

.del_btn {
    margin-left: -1%;
}

.btn {
    margin-top: 2%;
}

.table {
    font-size: 80%;
}

#tt2 {
    margin-left: 10%;
    margin-top: -3%;
}